.sk {
  position: absolute;
  top: 40px;
  left: 185px;
  padding: 3px 14px;
  border-left: 1px solid #b1191a;
}
.left ul li a {
  font-size: 16px;
  font-weight: 700;
  padding: 0 28px;
}
.right ul li a {
  font-size: 14px;
  padding: 0 22px;
}
.right ul li:last-child {
  position: relative;
}
.right ul li:last-child::after {
  position: absolute;
  top: 15px;
  right: 5px;
  font-family: "icomoon";
  content: "\e91e";
  color: #aeaeae;
}
.list {
  margin: 120px 0;
}
.listitem ul {
  height: 460px;
  margin-top: 25px;
}
.listitem ul li:not(:last-child) {
  margin-right: 13px;
}
